

@media print {
    .hidden-print {
        display: none !important;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid black !important;
    }

    #barcode_shipment div {
        right: 10px !important;
        position: absolute !important;
    }

    .invoice {
        page-break-before: always;
    }

    @page {
        size: a5 landscape;
        margin: 0;
    }
}