@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body, .nav > li > a, .mobile-sidebar-levels-2 .nav > li > ul > li > a, h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a, .alt-font {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --scrollbar-width: 10px;
  --scrollbar-radius: 0;
}
body {
  overflow-y: hidden;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: var(--scrollbar-width);
  overflow: visible;
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(240, 240, 241, 0);
}
html *::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-radius);
  background-color: rgba(204, 204, 205, 0.5);
}
/* Custom css */
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.pb-0 {
  padding-bottom: 0;
}
.p-0 {
  padding: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.align-right {
  text-align: right;
}
.row.mx-0 .col:first-child {
  padding-left: 0;
}
.row.mx-0 .col:last-child {
  padding-right: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.page__wrapper, .header-bottom > .container {
  padding-left: 4% !important;
  padding-right: 4% !important;
  width: 1920px;
  max-width: 100% !important;
}
.page__wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media screen and (min-width: 1920px) {
  .page__wrapper.mx-0 {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.header:not(.transparent) .header-bottom-nav.nav > li > a {
  text-transform: uppercase;
}
.header .nav-spacing-large > li.menu-item {
  margin: 0 20px !important;
}
.header-top .nav > li {
  margin: 0 11px !important;
}
.header-main .nav > li {
  margin: 0 25px;
}
.header-main .logo {
  margin-bottom: -5px;
}
.header .nav > li > a > i {
  font-size: 15px;
}
.header .nav-center > li > a {
  font-weight: 500;
  font-size: 13px;
}
.header .nav-dropdown {
  transition: none !important;
}
.header .wishlist-icon[data-icon-label]:after {
  width: 17px;
  left: auto;
}
.header-nav .sub-menu.nav-dropdown {
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}
.header__submenu--title h3, .header__submenu--title a {
  color: #000 !important;
  font-size: 14px;
}
.header__submenu--title a {
  display: inline-flex;
  margin-bottom: 5px;
}
.header__submenu--title a:hover {
  opacity: 0.8;
}
.header__submenu .ux-menu-link__link {
  display: block;
  font-size: 14px;
}
.header__submenu .ux-menu-link__link:hover {
  color: #000 !important;
}
.header__submenu .ux-menu-link__icon {
  vertical-align: middle !important;
  margin-top: -3px !important;
}
.header__submenu .ux-menu-link__text {
  padding-left: 0 !important;
}
.title-menu-category h3 {
  margin: 0 0 8px 0;
}
.title-menu-category h3 a {
  color: #000 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.2s linear;
}
.title-menu-category h3 a:hover {
  opacity: 0.8;
}
.has-off-canvas .current-lightbox-clicked {
  opacity: 1 !important;
  transform: none;
}
.header-bottom .social-icons a {
  font-size: 15px;
  margin: 0 15px 0 0 !important;
  color: #000;
}
.header-top .nav-dropdown {
  border: solid 1px #000;
  border-top: none;
}
.header-top .nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  display: block;
}
.header-top .nav-dropdown li a {
  text-transform: none;
}
.header-top .nav-dropdown li a:hover {
  color: #000;
}
.nav-right > li:not(:first-child) {
  border-left: solid 1px #ddd !important;
}
.nav-right > li {
  line-height: 16px !important;
  height: 16px !important;
  padding: 0 12px !important;
  margin: 0 !important;
}
.nav-right > li > a {
  padding: 0 !important;
  line-height: 16px !important;
  display: block;
}
.nav-right > li:last-child {
  padding-right: 0 !important;
}
.nav-right > li.has-dropdown:after {
  display: none;
}
.header-bottom-nav:not(.nav-right) > li > a {
  position: relative;
}
.header-bottom-nav:not(.nav-right) > li > a:after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 0;
  height: 1px;
  background-color: #08422c;
  width: 100%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.85, 0.26, 0.17, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.85, 0.26, 0.17, 1);
  -o-transition: transform 0.3s cubic-bezier(0.85, 0.26, 0.17, 1);
  transition: transform 0.3s cubic-bezier(0.85, 0.26, 0.17, 1);
  transition: transform 0.3s cubic-bezier(0.85, 0.26, 0.17, 1), -webkit-transform 0.3s cubic-bezier(0.85, 0.26, 0.17, 1);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
.header-bottom-nav:not(.nav-right) > li:hover > a:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.85, 0.26, 0.17, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.85, 0.26, 0.17, 1);
  -o-transition: transform 0.4s cubic-bezier(0.85, 0.26, 0.17, 1);
  transition: transform 0.4s cubic-bezier(0.85, 0.26, 0.17, 1);
  transition: transform 0.4s cubic-bezier(0.85, 0.26, 0.17, 1), -webkit-transform 0.4s cubic-bezier(0.85, 0.26, 0.17, 1);
}
.header-bottom-nav:not(.nav-right) > li.active > a:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.flickity-prev-next-button.next {
  left: auto !important;
}
/* hero banner */
.hero__banner--desc h5, .hero__banner--desc h6 {
  color: #fff;
  font-size: 14px;
  opacity: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.hero__banner--desc h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 10px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.hero__banner--desc p {
  font-size: 18px;
  opacity: 1;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.hero__banner--desc .button {
  transition: all 0.2s linear;
}
.hero__banner--desc .button span {
  font-weight: inherit;
}
.hero__banner--desc .button.is-outline {
  border-width: 1px;
}
.slider .flickity-prev-next-button {
  width: 40px;
  opacity: 1;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .flickity-prev-next-button svg {
  display: none;
}
.slider .flickity-prev-next-button.previous {
  background-image: url("../img/arrow_left_light.svg");
}
.slider .flickity-prev-next-button.next {
  background-image: url("../img/arrow_right_light.svg");
}
.hero__slider .flickity-viewport .section .section-content {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.hero__slider .flickity-viewport .section:after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: calc(750/1920 * 100%);
}
@media (min-width: 1920px) {
  .hero__slider .flickity-viewport .section:after {
    padding-bottom: 0;
    height: calc(100vh - 300px);
  }
}
.hero__slider .flickity-page-dots li {
  height: 30px !important;
  border: none;
  background-color: transparent !important;
  opacity: 1;
  position: relative;
}
.hero__slider .flickity-page-dots li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  background-color: #fff !important;
}
.hero__slider .flickity-page-dots li.is-selected:before {
  background-color: #000 !important;
}
.home__cate .img, .home__cate .box-image {
  transition: all 0.2s linear;
}
.home__cate .img:hover, .home__cate .box-image:hover {
  opacity: 0.85;
}
.home__cate--textbox {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 20px;
  transform: translateY(-50%);
  color: #333;
}
.home__cate--textbox * {
  color: inherit !important;
}
.home__cate--textbox a {
  transition: all 0.2s linear;
}
.home__cate--textbox a:hover {
  opacity: 0.7;
}
.home__cate--textbox h4, .home__cate--textbox h5 {
  color: gray !important;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.home__cate--textbox h2 {
  font-weight: bold;
}
.home__cate .image__box--large .box-image {
  position: relative;
  padding-bottom: 71%;
}
.home__cate .image__box--large .box-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.home__cate .image__box--large .box-text {
  left: 35px;
  bottom: 40px;
  transform: none;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  text-align: left;
  border-bottom: double 3px #fff;
  padding: 0 20px 5px 0;
}
.home__cate .image__box--large .box-text * {
  color: inherit;
}
.home__cate .image__box--large .box-text h4, .home__cate .image__box--large .box-text h5 {
  font-size: 16px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.home__cate .image__box--large .box-text h2 {
  font-size: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
.product-small:hover .box-image:after {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.product-small .sale__label {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  font-size: 11px;
  border: solid 1px #999;
  padding: 3px 5px 2px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  border-radius: 3px;
}
.product-small .box-image .quick-view {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 15px;
  color: #fff;
  font-size: 12px;
}
.product-small .box-image .wishlist-popup {
  display: none;
}
.product-small .box-image .wishlist-button {
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 15px;
  margin: 0 !important;
  padding: 0 !important;
  width: 30px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  min-width: unset;
  min-height: unset;
  border: none !important;
  color: #111;
}
.product-small .box-image .wishlist-button:hover {
  background-color: #111 !important;
}
.product-small .box-text {
  padding: 10px 0;
}
.product-small .box-text .title-wrapper {
  padding-bottom: 5px;
}
.product-small .box-text a {
  color: inherit;
}
.product-small .box-text .category {
  font-weight: 600;
  font-size: 11px;
  color: #666;
  padding: 5px 0;
}
.product-small .box-text .product__brand {
  color: #999;
  display: block;
  margin: 0 0 5px 0;
}
.product-small .box-text .product__brand a {
  outline: none;
}
.product-small .box-text .product-title {
  margin: 0;
}
.product-small .box-text .product-title a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #111;
}
.product-small .box-text .price {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  font-size: 0 !important;
}
.product-small .box-text .price .badge-container {
  position: absolute;
  margin: 0 0 0 5px;
  top: 2px;
  left: 100%;
}
.product-small .box-text .price .badge-container .badge {
  height: auto;
  color: #c00;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
}
.product-small .box-text .price .badge-container .badge * {
  color: inherit;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.product-small .box-text .price .amount {
  font-size: 15px !important;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.product-small .box-text .price ins .amount {
  color: #c00;
}
.product-small .box-text .price br {
  display: none;
}
.product-small .yith-wcwl-add-to-wishlist {
  display: none;
}
.product-small .price-wrapper {
  position: relative;
  display: inline-block;
}
.product-small .price-wrapper .price del .amount {
  color: #555;
}
.product-small .price-wrapper .price ins .amount {
  color: #111;
}
.product-small .percent__label {
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  color: #c00;
  font-size: 15px;
  display: none;
}
.product-small .percent__label:first-child {
  display: block;
}
.product__slider.slider:hover .flickity-prev-next-button {
  opacity: 0.4;
}
.product__slider.slider .flickity-prev-next-button {
  opacity: 0;
  height: 40px;
  margin: auto !important;
  background-color: #000;
  transform: none !important;
  top: 8%;
  background-size: 25px;
}
.product__slider.slider .flickity-prev-next-button:hover {
  opacity: 1;
}
.product__slider.slider .flickity-prev-next-button.previous {
  left: 10px;
  right: auto;
}
.product__slider.slider .flickity-prev-next-button.next {
  right: 10px;
}
.policy__icon--box .icon-box {
  text-align: center;
  padding: 0 20px;
}
/* footer */
.footer-wrapper * {
  color: #444;
}
.footer-wrapper a {
  transition: all 0.2s linear;
}
.footer-wrapper a:hover {
  color: #000;
  opacity: 0.5;
}
.footer-wrapper .footer__title {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 15px 0;
}
.footer-wrapper .page__wrapper > .col.medium-4 {
  padding-left: 0;
}
.footer-wrapper .page__wrapper > .col.medium-8 {
  padding-right: 0;
}
.footer-wrapper .ux-logo-link {
  padding: 0 !important;
  margin-bottom: 15px;
}
.footer__info {
  padding-bottom: 15px;
  font-size: 16px;
}
.footer__info p {
  margin: 10px 0 0 0;
}
.footer__group .col {
  padding-bottom: 15px;
}
.footer__group .ux-menu-link a {
  border: none !important;
  padding: 4px 0 7px 0;
  min-height: unset;
  line-height: 1.4;
  font-size: 16px;
}
.footer__social {
  margin-bottom: 0;
}
.footer__social li {
  list-style: none;
}
.footer__social li .icon {
  display: inline-flex;
  border: solid 1px #555;
  margin: 0 5px 0 0;
  width: 31px;
  height: 31px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.absolute-footer {
  padding: 15px 0 !important;
}
.absolute-footer .copyright-footer {
  font-size: 15px;
}
.page_static--sidebar .widget_nav_menu .widget-title {
  font-size: 22px;
  letter-spacing: 0;
}
.page_static--sidebar .widget_nav_menu .menu {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  flex-direction: column;
}
.page_static--sidebar .widget_nav_menu .menu > li {
  border: none;
}
.page_static--sidebar .widget_nav_menu .menu > li > a {
  display: block;
  text-align: right;
  font-size: 17px;
  padding: 10px 0 10px 50px;
  font-style: italic;
  transition: all 0.1s linear;
}
.page_static--sidebar .widget_nav_menu .menu > li.current_page_item > a, .page_static--sidebar .widget_nav_menu .menu > li:hover > a {
  color: #000;
  font-weight: bold;
}
.page_static--sidebar .widget_nav_menu .menu > li:not(.current_page_item) a {
  color: #666;
}
.page_static--sidebar .widget_nav_menu .menu > li + li {
  border-top: solid 1px #eee;
}
.page__header--static .page-title-inner {
  padding-top: 5px;
}
.page__header--static .entry-title {
  font-weight: bold;
}
.page__header--static .title-content {
  display: none;
}
.woocommerce-page .sidebar-inner .filters-container {
  max-width: 350px;
}
.woocommerce-page .category-page-title, .woocommerce-page #main {
  max-width: 1920px;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce-page .category-page-title .page-title-inner, .woocommerce-page #main .page-title-inner {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce-page .featured-title .page-title-bg {
  display: none;
}
.woocommerce-page .category-page-title {
  background-color: #eee;
  margin-bottom: 10px;
}
.woocommerce-page .category-page-title .shop-page-title {
  color: #111;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
}
.woocommerce-page .woocommerce-breadcrumb {
  color: #333 !important;
  text-shadow: none;
  font-weight: 500;
  font-size: 14px;
}
.woocommerce-page .woocommerce-breadcrumb span, .woocommerce-page .woocommerce-breadcrumb a {
  text-shadow: inherit;
  color: inherit;
  font-weight: 500;
}
.woocommerce-page #main .large-3 {
  padding-left: 0;
  padding-right: 30px;
}
.woocommerce-page #main .large-9 {
  padding-right: 0;
}
.woocommerce-page .yith-wcan-filter {
  margin-bottom: 35px;
}
.woocommerce-page .yith-wcan-filter .filter-title {
  color: #111 !important;
  text-transform: unset;
  font-weight: bold;
}
.woocommerce-page .yith-wcan-filter .filter-title:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ddd;
  margin: 5px 0;
}
.woocommerce-page .yith-wcan-filter input[type=checkbox], .woocommerce-page .yith-wcan-filter input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  display: inline-block;
  filter: grayscale(1);
}
.woocommerce-page .yith-wcan-filter .filter-item span.amount {
  font-weight: 500;
}
.woocommerce-page .yith-wcan-filter .filter-item.checkbox {
  margin-bottom: 10px;
}
.woocommerce-page .yith-wcan-filter .filter-item.checkbox label {
  display: flex;
  line-height: 22px;
  font-weight: 500;
}
.woocommerce-page .yith-wcan-filter .filter-content {
  margin-top: 15px;
}
.woocommerce-page .yith-wcan-filter .filter-items.filter-checkbox {
  padding-top: 10px;
}
.woocommerce-page .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item {
  margin: 3px 0;
}
.woocommerce-page .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > a {
  color: #333;
}
.woocommerce-page .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.active > a, .woocommerce-page .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.active > label > a {
  color: #000;
  border-bottom: solid 1px #111;
}
.woocommerce-page .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > a:hover, .woocommerce-page .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > label > a:hover {
  color: #000;
}
.woocommerce-page .page-title {
  background-color: #eee;
}
.woocommerce-page .category-page-title, .woocommerce-page #main, .woocommerce-page .shop-page-title {
  max-width: 1920px;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce-page .category-page-title .page-title-inner, .woocommerce-page #main .page-title-inner, .woocommerce-page .shop-page-title .page-title-inner {
  min-height: unset;
  padding: 15px 0 !important;
}
.woocommerce-page .product-page-title {
  margin-bottom: 20px;
}
.woocommerce-page .woocommerce-result-count, .woocommerce-page .woocommerce-ordering {
  display: none !important;
}
.category__page--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.category__page--title .title {
  margin: 0 0 2px 0;
  font-size: 30px;
  color: #111;
  line-height: 1.2;
}
.category__page--title .count {
  color: #999;
  font-size: 14px;
}
.category__page--title .category__sort span {
  color: #666;
  font-size: 14px;
}
.category__page--title .category__sort .woocommerce-ordering {
  background: none !important;
  margin: 13px 0 0 0;
  width: 170px;
}
.category__page--title .category__sort select {
  height: 36px;
  border: none;
  background-position: right 0 top 50%;
  border-bottom: solid 1px #333;
  padding: 0 5px;
  box-shadow: none;
  width: auto !important;
  min-width: auto !important;
  margin: 0 !important;
  color: #333;
  font-size: 14px;
}
.category__page--title .category__sort select:focus {
  border-color: #666;
}
/* product detail */
.single-product .product .product-gallery .badge-container {
  display: none;
}
.single-product .product .price-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.single-product .product .price-wrapper .price {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0 0 15px 0;
  position: relative;
}
.single-product .product .price-wrapper .price del {
  margin-bottom: 5px;
}
.single-product .product .price-wrapper .price br {
  display: none;
}
.single-product .product .price-wrapper .badge-container {
  position: absolute;
  top: 3px;
  left: 100%;
  margin: 0 0 0 10px;
}
.single-product .product .price-wrapper .badge-container .badge {
  height: auto;
  color: #c00;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
}
.single-product .product .price-wrapper .badge-container .badge * {
  color: inherit;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.single-product .product .price-wrapper .percent__label {
  position: absolute;
  top: 2px;
  left: calc(100% + 5px);
  color: #c00;
  font-size: 15px;
  display: none;
  font-weight: 500;
}
.single-product .product .price-wrapper .percent__label:first-child {
  display: block;
}
.single-product .product .sticky-add-to-cart .price-wrapper {
  margin: 0 60px 0 0;
}
.single-product .product .sticky-add-to-cart .price-wrapper .price {
  margin: 0;
  font-size: 14px;
}
.single-product .product .sticky-add-to-cart .price-wrapper .badge-container {
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
}
.single-product .product .sticky-add-to-cart .price-wrapper .badge-container .badge {
  font-size: 14px;
}
.product-lightbox .product .product-gallery .badge-container {
  display: none;
}
.product-lightbox .product .price-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.product-lightbox .product .price-wrapper .price {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0 0 15px 0;
  position: relative;
}
.product-lightbox .product .price-wrapper .price del {
  margin-bottom: 5px;
}
.product-lightbox .product .price-wrapper .price br {
  display: none;
}
.product-lightbox .product .price-wrapper .badge-container {
  position: absolute;
  top: 3px;
  left: 100%;
  margin: 0 0 0 10px;
}
.product-lightbox .product .price-wrapper .badge-container .badge {
  height: auto;
  color: #c00;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
}
.product-lightbox .product .price-wrapper .badge-container .badge * {
  color: inherit;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.product-lightbox .product .price-wrapper .percent__label {
  position: absolute;
  top: 2px;
  left: calc(100% + 5px);
  color: #c00;
  font-size: 15px;
  display: none;
  font-weight: 500;
}
.product-lightbox .product .price-wrapper .percent__label:first-child {
  display: block;
}
.product .product-info {
  position: relative;
  padding-top: 30px;
}
.product .product-info .product__brand {
  position: absolute;
  top: 0;
  left: 15px;
}
.product .product-info .product__brand a {
  color: #666;
  outline: none;
}
.product .product-info .product__brand a:hover {
  color: #000;
}
